.container-flights {
    margin: 20px;
    position:relative;
}

.container-flights>h3 {
    font-size: 16px;
    font-family: var(--font-family-karla);
    color: var(--color-primary);
}

.container-flights>h2 {
    font-size: 32px;
    font-family: var(--font-family-montserrat);
    color: var(--color-text);
}

.container-flights>button {
    position:absolute;
    right:0;
    top:0;
}

.flights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

