.img-container {
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.img {
  width: 98%;
  height: 670px;
  border-radius: 30px;
  background: url("../../assets/img/image62.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logoandnavbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 260px;
  height: 57.78px;
  left: 80px;
  right: 80px;
  top: 40px;
  position: absolute;

}

.logo {
  width: 180px;
  height: 57.78px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 150px;
  width: 880px;
  height: 48px;
}

.pages-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 46px;
  width: 560px;
  height: 19px;
}

.login-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 188px;
  height: 48px;
}

header ul li {
    background-color: transparent;
}

header ul li:hover {
    transition: all 0.8s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

header ul li a {color: white;
}


.text-container {
  position: absolute;
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  width: 48%;
}

.text-container p {
  font-family: var(--font-family-karla);


}

.inputs-button-container {
  position: absolute;
  top: 470px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.inputs-container {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  height: 40%;
  padding: 10px 20px;
}

.inputs-container figure {
  display: flex;
  /* width: 15% ; */
  border-right: 1px solid black;
}

.inputs-container figure:last-of-type {
  display: flex;
  /* width: 15% ; */
  border-right: none;
  border-left: 1px solid black;
  padding-left: 10px;
}

.inputs-container select {
  padding: 0 10px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  cursor: pointer;
}


.fecha {
  display: flex;
  gap: 5px;
  align-items: center;
  border-right: none !important;
}

.fecha img {
  width: 16px;
}

.fecha p {
  width: 110px;
  transition: all, 1s;
  overflow: hidden;
  white-space: nowrap;
  font-family:var(--font-family-karla) ;
  font-size: 15px;
}

#fecha {
  width: 0px;
  overflow: hidden;
  padding: 0px;
  border: 0px;
  transition: all, 1s;
}
