.plantrip-container {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "plantripimg plantripinfo" ;
}   

.plantrip-img {
    display: grid;
    justify-items: center;
    max-width: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: plantripimg;
}

.plantrip-info {
    display: grid;
    font-family: var(--font-family-montserrat);
    margin: 2rem;
    padding-left: 1.5rem;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: plantripinfo;
}

.plantrip-main {
    margin: 5px;
}

.plantrip-main > h2 {
   font-size: 1.5rem;
   color:var(--color-text);
}

.plantrip-main > p {
    display: flex;
    color:var(--color-text);
    text-align: justify;
    margin-top: 1rem;
    font-family: var(--font-family-karla);
}

.plantrip-statistics > div > p {
    font-family:var(--font-family-karla);
}

.plantrip-statistics > div > h3 {
    font-size: 1.5rem;
    font-family: var(--font-family-montserrat);
    color: var(--color-primary);
}

.plantrip-statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}