.plantrip-container {
    width: 100%;
    display: grid;
    border: 2px solid var(--color-primary);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "plantripimg plantripinfo" ;
}   

.plantrip-img {
    display: grid;
    justify-items: center;
    max-width: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: plantripimg;
}

.plantrip-info {
    margin: 2rem;
    max-width: 60%;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-area: plantripinfo;
}

.plantrip-statistics {
    display: flex;
}